.custom-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}


.card-black {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px;
  width: 700px;
  margin: 70px auto 20px;
  /*Add margin to the top, and keep margin auto for centering*/
  position: absolute;
  /* Position the card absolutely*/
  left: 0;
  right: 0;
  color: white;
}

.project-card {
  display: flex;
  align-items: center;
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: white;
  margin: 70px auto 20px;
  padding: 20px;
}

.image {
  flex: 1;
  max-width: 300px;
  margin-right: 30px;
  /* Set a maximum width for the image container */
}

.image img {
  max-width: 100%;
  /* Ensure the image doesn't exceed its container width */
  max-height: 100%;
  /* Ensure the image doesn't exceed its container height */
}

.content {
  flex: 2;
}

a{
  text-decoration: none;
  color:red;
}

.dark-mode{
  background-color:#333;
  color: #fff;
}

.light-mode{
  background-color: darkolivegreen;
  color: black;
}